<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Uploader!!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="wrapper">
        <div id="container">

            <% images.forEach((image) => { %>
                <div class="image">
                    <img src="<%= url + image.path %>" width="<%=image.width %>" height="<%=image.height %>" data-image-id="<%=image._id %>">
                    <a href="/delete/<%=image._id %>">DELETE</a>
                </div>
            <%})%>

        </div>
    </div>

</body>

</html>